#title {
    background-color: #ff4c68;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2 {
    font-family: "Montessrat-Bold";
    font-size: 3rem;
    line-height: 1.1;
}

h3 {
    font-family: "Monteserrat-Bold";
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.iphone {
    transform: rotate(25deg);
    width: 30%;
    right: 20%;
    position: absolute;
    z-index: 0;
}

body {
    font-family: "Poppins";
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monteserrat-Light";
}

.download-button {
    margin: 5% 3% 5% 0;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;

}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimg {
    width: 10%;
    border-radius: 100%;
    margin: 20px
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3px;
}

.pressimg {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width:1028px) {
    .iphone {
        position: static;
        transform: rotate(0deg);
        right: 90%;
        width: 40%;
    }

    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    font-family: "Monteserrat-Bold";
    color: white;
    font-size: 3.5 rem;
    line-height: 1.5;
    padding: 10% 15%;
}

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
}

.social-icon {
    margin: 20px 10px;
}